.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin: 20px 0;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input[type="text"] {
  padding: 5px;
  margin: 10px;
}